FrbJsil/FrbJsil/obj/Debug/FrbJsil.csproj.FileListAbsolute.txt
FrbJsil/FrbJsil/obj/x86/Debug/FrbJsil.csproj.FileListAbsolute.txt
FrbJsil/JSILTest/JSILTest.csproj.Debug.cachefile
FrbJsil/JSILTest/bin/x86/Debug/Content/chickennugents.xnb
FrbJsil/JSILTest/bin/x86/Debug/JSILTest, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null.js
FrbJsil/JSILTest/bin/x86/Debug/JSILTest.exe.jsillog
FrbJsil/JSILTest/bin/x86/Debug/JSILTest.exe.manifest.js
FrbJsil/JSILTest/bin/x86/Debug/Microsoft.Xna.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=842cf8be1de50553.js
FrbJsil/JSILTest/bin/x86/Debug/Microsoft.Xna.Framework.Game, Version=4.0.0.0, Culture=neutral, PublicKeyToken=842cf8be1de50553.js
FrbJsil/JSILTest/bin/x86/Debug/Microsoft.Xna.Framework.GamerServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=842cf8be1de50553.js
FrbJsil/JSILTest/bin/x86/Debug/Microsoft.Xna.Framework.Graphics, Version=4.0.0.0, Culture=neutral, PublicKeyToken=842cf8be1de50553.js
FrbJsil/JSILTest/bin/x86/Debug/Microsoft.Xna.Framework.Input.Touch, Version=4.0.0.0, Culture=neutral, PublicKeyToken=842cf8be1de50553.js
FrbJsil/JSILTest/bin/x86/Debug/Microsoft.Xna.Framework.RuntimeProfile
FrbJsil/JSILTest/bin/x86/Debug/System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089.js
FrbJsil/JSILTest/bin/x86/Debug/System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a.js
FrbJsil/JSILTest/bin/x86/Debug/System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089.js
FrbJsil/JSILTest/bin/x86/Debug/System.Deployment, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a.js
FrbJsil/JSILTest/bin/x86/Debug/System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a.js
FrbJsil/JSILTest/bin/x86/Debug/System.Numerics, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089.js
FrbJsil/JSILTest/bin/x86/Debug/System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089.js
FrbJsil/JSILTest/bin/x86/Debug/System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089.js
FrbJsil/JSILTest/bin/x86/Debug/jsiltest.html
FrbJsil/JSILTest/bin/x86/Debug/mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089.js
FrbJsil/JSILTest/obj/x86/Debug/ContentPipeline-{EE750CAD-7711-4330-8EB7-52BE88C6AAD5}.xml
FrbJsil/JSILTest/obj/x86/Debug/JSILTest.csproj.FileListAbsolute.txt
FrbJsil/JSILTest/obj/x86/Debug/Microsoft.Xna.Framework.RuntimeProfile.txt
FrbJsil/JSILTest/obj/x86/Debug/cachefile-{EE750CAD-7711-4330-8EB7-52BE88C6AAD5}-targetpath.txt
FrbJsil/JSILTestContent/obj/x86/Debug/JSILTestContent.contentproj.FileListAbsolute.txt
